* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.boxes h2{
    margin: 20px;
}
.box {
  width: 100%;
  height: 10vh;
  background-color: rgb(190, 76, 34);
  text-align: center;
  padding-top: 25px;
  font-size: 20px;
  margin: 10px;
}
.box2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    
}
.box3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.box4{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.box5{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}
.box6{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
}