* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.head ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px ;
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
}
.head a {
  color: black;
}
.sports ul {
  margin: 15px 0 0 15px;
  cursor: pointer;
}
.images {
  display: flex;
  gap: 10px 20px;
  flex-wrap: wrap;
}
.body img {
  padding: 10px;
  width: 250px;
  height: 250px;
  cursor: pointer;
}
.body h3 {
  font-size: 20px;
}
.body span {
  padding: 0 100px;
}
.body p {
  color: gray;
}
.boxes {
  display: flex;
}
