* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
header {
  background-color: #4e4e8f;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head h1 {
  color: aliceblue;
  font-size: 55px;
  font-family: "Great Vibes", cursive;
  font-weight: 300;
  margin-top: 25px;
}
.head nav ul {
  display: flex;
  gap: 35px;
  margin-top: 25px;
}
.head nav ul li a {
  color: aliceblue;
  font-size: 35px;
  font-family: "Great Vibes", cursive;
  transition: color 0.5s ease-in;
}
.head i {
  color: aliceblue;
  font-size: 35px;
  display: none;
  cursor: pointer;
}
.head nav ul li a:hover {
  color: #b0c4ff;
}
@media (max-width: 767px) {
  .head i {
    display: block;
  }
  .head nav {
    width: 100%;
    position: fixed;
    top: 90px;
    right: 0;
    text-align: center;
    background: #4e4e8f;
    padding: 12rem;
    display: none;
    line-height: 60px;
  }
  .head nav.active {
    display: block;
  }
  .head nav ul {
    display: block;
    margin: 1.5rem;
  }
}
